HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/firebase/plant-butler-c4fd9-firebase-adminsdk-mrs2y-1cb0378836.json
/src/main/resources/firebase/plant-butler-c4fd9-5f2f281aeaca.json
/src/main/resources/static/firebase-messaging-sw.js
/src/main/resources/static/mainscript.js
/src/main/java/com/plant/utils/ShopApi.java
/src/main/resources/application-API-KEY.properties
/src/main/resources/static/js/firebase-messaging-sw.js
/src/main/resources/static/js/mainscript.js
