<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plant.dao.MypageMapper">

    <update id="updateMypage" parameterType="com.plant.vo.UserVo">
        <![CDATA[
            update user_table set password = #{password}, nickname = #{nickname}, email = #{email}
            where user_id = #{userId}
        ]]>
    </update>

</mapper>