<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plant.dao.MyPlantMapper">
    <resultMap id="MyplantResultMap" type="com.plant.vo.MyplantVo">
        <result column="myplant_id" property="myplantId"/>
        <result column="plant_id" property="plantId"/>
        <result column="user_id" property="userId"/>
        <result column="myplant_nick" property="myplantNick"/>
        <result column="myplant_image" property="myplantImage"/>
        <result column="myplant_pot" property="myplantPot"/>
        <result column="myplant_length" property="myplantLength"/>
        <result column="myplant_radius1" property="myplantRadius1"/>
        <result column="myplant_radius2" property="myplantRadius2"/>
        <result column="first_date" property="firstDate"/>
        <result column="schedule_date" property="scheduleDate"/>
        <result column="webpush_date" property="webPushDate"/>
        <result column="webpush_time" property="webPushTime"/>
    </resultMap>

    <select id="selectMyPlants" resultMap="MyplantResultMap">

      <![CDATA[
        select * from myplant where user_id = #{userId}
        ]]>
	</select>

    <insert id="insertMyplant" parameterType="com.plant.vo.MyplantVo">
        INSERT INTO myplant(plant_id, user_id, myplant_nick, myplant_image, myplant_pot, myplant_length, myplant_radius1, myplant_radius2,first_date,schedule_date)
        VALUES (
                   #{plantId},
                   #{userId},
                   #{myplantNick},
                   #{myplantImage},
                   #{myplantPot},
                   #{myplantLength},
                   #{myplantRadius1},
                   #{myplantRadius2},
                   #{firstDate},
                   #{scheduleDate}
               )
    </insert>

    <delete id="deleleMyplant" parameterType="com.plant.vo.MyplantVo">
        DELETE from myplant where myplant_id = (#{myplantId})
    </delete>

    <select id="searchPlant" resultMap="MyplantResultMap">

      <![CDATA[
        select * from myplant where myplant_id = #{myplantId}
        ]]>
	</select>

    <select id="selectPlantInfo" resultType="com.plant.vo.PlantVo">
   <![CDATA[
        SELECT * FROM plant WHERE distbNm LIKE CONCAT('%', #{plantId}, '%')
        ]]>
</select>
    <update id="editMyPlant" parameterType="com.plant.vo.MyplantVo">
        UPDATE myplant SET myplant_nick = #{myplantNick},
                           myplant_pot = #{myplantPot},
                           myplant_length = #{myplantLength},
                           myplant_radius1 = #{myplantRadius1},
                           myplant_radius2 = #{myplantRadius2}
        WHERE myplant_id = #{myplantId}


    </update>

    <select id="searchPlantToNum" resultType="com.plant.vo.PlantVo">
        select *
        from plant where plant_id = #{plantId};
    </select>

    <update id="registRepresent2" parameterType="int">
        update myplant set represent = 1 where myplant_id=#{myplantId}

    </update>

    <update id="registRepresent" parameterType="java.lang.String">
        update myplant set represent = 0 where user_id=#{userId};
    </update>

    <update id="insertWebPushData">
        update myplant set webpush_date = #{dayInput} , webpush_time = #{timeInput} where myplant_id=#{myplantId};

    </update>

    <update id="point">
        UPDATE user_table
        SET point = point - (
            SELECT COUNT(*) * 10
            FROM myplant
            WHERE (#{todayInDays} - myplant.schedule_date) >= 6
              AND myplant.user_id = user_table.user_id
        );
    </update>


</mapper>